/* Här är styling för footern på sidan */
footer {
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 20px 0px;
  background-color: #f2f2f2;
  color: #40493B;
}

.footer-content {
  padding: 25px 25px 10px 25px;
  display: flex;
  justify-content: center;
}

.contact {
  width: 33%;
  justify-content: flex-start;
  text-align: flex-start;
}

.contact p {
  font-size: 18px;
  color: #40493B;
}

.contact a {
  text-decoration: none;
}

.footer-logo {
  width: 33%;
  display: flex;
  justify-content: center;
  text-align: center;
}

.footer-logo img {
  width: 50%;
  float: center;
  transition: transform 0.2s ease-in-out;
}

.footer-logo img:hover {
  transform: scale(1.2);
}

.Contact-button {
  width: 33%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.Contact-button a {
  color: #40493B;
}

.Contact-button a :hover {
  color: #4E7796;
}

.button-space {
  padding-right: 10px;
}

.footer-content p {
  margin: 2px;
}

.footer-line {
  margin: 10px 25px;
  height: 1px;
  background: #40493B;
}

.copyright {
  padding: 10px;
  display: flex;
  justify-content: center;
}

.webbriktlinjer {
  padding: 10px;
  display: flex;
  justify-content: center;
}

.webbriktlinjer a {
  text-decoration: none;
  color: #40493B;
}

.webbriktlinjer a:hover {
  transform: scale(1.2);
}

@media screen and (max-width: 800px) {
  .footer-content {
    padding: 25px 25px 10px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .contact {
    width: 33%;
    justify-content: flex-start;
    text-align: flex-start;
    margin-bottom: 5%;
  }

  .footer-logo {
    width: 33%;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 5%;
  }

  .Contact-button {
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

}